$font-stack: Roboto, sans-serif;
$pry-white: #fff;
$sec-white: #fcfcfc;

// $pry-blue: #1b65b9;
$pry-blue: #0d5ab3;
$sec-blue: #0c55a8;
$active-blue: #0457b6;

$error-clr: #cc0000;

$pry-shadow-clr: rgba(0, 0, 0, 0.6);