#app {
  background-color: $sec-white;
  min-height: 100vh;
  position: relative;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5em 0;
}

// correct approach for transitions is ease-in for exits and ease-out for entraces (surprising, I know)
.slide-enter-active {
  transition: all 0.25s ease-out;
}

.slide-leave-active {
  transition: all 0.4s ease-in;
}

.slide-enter-from,
.slide-leave-to {
  transform: translateX(-16.5%);
  opacity: 0;
}

.create-box {
  display: grid;
  justify-content: flex-end;
  margin-bottom: 0.75em;

  &__link {
    @include flex-center;
    padding: 0.6em 1em;
    border: 1px solid transparent;
    border-radius: 0.325em;
    color: #fafafa;
    // background-color: #0b5ebd;
    background-color: $pry-blue;
    box-shadow: 0.01em 0.02em 0.05em 0 $pry-shadow-clr;
    transition: all 0.25s ease-in;

    &:hover {
      color: $pry-white;
      background-color: $sec-blue;
    }
  }

  &__icon {
    width: 1em;
    margin-right: 0.375em;
    margin-bottom: 1px;
  }
}
