.nav-bar {
  // border: 1px solid green;

  &__items {
    display: flex;

    li {
      list-style-type: none;
      padding: 0 0.5em;
    }
  }

  &__link {
    display: block;
    padding: 0.35em;
    position: relative;

    &:hover {
      color: $sec-blue;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: $pry-blue;
      transform: scale(0);
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}