.page-header{
  padding: 0.75em 10%;
  color: $scd-clr;
  background: $pry-clr;
  // color: $pry-clr;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // text-align: left;
  box-shadow: 0 0.05rem 0.1rem 0 $dft-shadow-clr;

  h1{
    a{
      // border: 1px solid green;
      display: block;
      font-size: 85%;
      // text-shadow: 0.03rem 0.05rem 0.1rem $dft-shadow-clr;
      text-shadow: 0.03rem 0.03rem 0.05rem $dft-shadow-clr;
    }
    // display: inline-block;
  }

  // a{
    // border: 1px solid green;
    // color: inherit;
    // display: block;
    // text-decoration: none;
    // // text-transform: uppercase;
    // font-size: 80%;
    // // letter-spacing: 0.01em;
  // }
}

// @media only screen and (max-width: 768px){
//   .page-header{
//     padding-top: 0.7em;
//     padding-bottom: 0.7em;

//     a{
//       font-size: 75%;
//     }
//   }
// }