.page-header{
  padding: 0.85em 10%;
  background: $pry-bg;
  color: $pry-clr;
  display: flex;
  justify-content: space-between;
  // text-align: left;
  box-shadow: 0 0.05rem 0.1rem 0 $dft-shadow-clr;

  h1{
    border: 1px solid black;
    // display: inline-block;
  }

  a{
    color: inherit;
    // display: block;
    // text-decoration: none;
    // // text-transform: uppercase;
    // font-size: 80%;
    // // letter-spacing: 0.01em;
    // text-shadow: 0.03rem 0.05rem 0.1rem $dft-shadow-clr;
  }
}

// @media only screen and (max-width: 768px){
//   .page-header{
//     padding-top: 0.7em;
//     padding-bottom: 0.7em;

//     a{
//       font-size: 75%;
//     }
//   }
// }